.m-button {
  background-color: #2ca01c;
  border: 1px solid transparent;
  color: #fff;
  padding: 8px 16px 8px 24px;
  border-radius: 4px;
  height: 36px;
  cursor: pointer;
}

.m-button-group {
  display: flex;
}

.m-button-add-emp {
  border-radius: 30px;
}

.m-button-dropdown {
  position: relative;
  width: 46px;
  border-radius: 0 30px 30px 0;
  padding: 8px 10px;
}

.m-line {
  left: -7px;
  height: 20px;
  top: -1px;
  position: absolute;
  border: 1px solid transparent;
  border-left-color: #fff;
}

.m-button:hover {
  background-color: #35bf22;
}

.m-button:focus {
  background-color: #2ca01c;
}

.m-button-secondary {
  border: 1px solid #8d9096;
  color: #111;
  background-color: transparent;
}

.m-button-secondary:hover {
  background-color: #d2d3d6;
}

.m-button-secondary:focus,
.m-button-secondary:active {
  background-color: #d2d3d6;
}

.m-button-radius-false {
  border-radius: 4px;
}

.m-button-size-default {
  padding: 8px 16px;
}

.m-button-text {
  font-weight: 600;
  position: relative;
  color: inherit;
  display: inline-block;
  transition: all 0.25s ease;
  white-space: nowrap;
  font-size: 13px;
  line-height: 13px;
}

.m-button-radius {
  border-radius: 30px;
}
