.m-combo-box {
  position: relative;
  width: 100%;
}

.m-combo-main-content {
  display: flex;
  min-height: 32px;
  border: 1px solid #babec5;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
}

.m-combo-main-content:focus {
  border-color: #2ca01c;
}

.m-selected-options {
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
  flex-wrap: wrap;
  width: calc(100% - 32px);
  align-items: center;
  padding: 0 0 0 12px;
}

.m-combo-action {
  display: flex;
}

.m-btn-dropdown {
  width: 32px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.m-btn-dropdown:hover {
  background-color: #e0e0e0;
  border-color: #e0e0e0;
}

.m-selected-options {
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
  flex-wrap: wrap;
  width: calc(100% - 32px);
  align-items: center;
  padding: 0 0 0 12px;
}

.m-combo-input {
  border: none;
  font-size: 13px;
  padding-right: unset;
  text-overflow: ellipsis;
  background-color: transparent;
  display: flex;
  flex-grow: 1;
  width: 100%;
  cursor: pointer;
}

.m-combo-dropdown-panel,
.m-combo-menu {
  transition: opacity 0.1s, transform 0.1s, width 0.2s ease;
  z-index: 201;
  position: fixed;
  background-color: #fff;
  border: 1px solid #babec5;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 -8px 34px 0 rgba(0, 0, 0, 0.05);
  min-width: 200px;
}

.m-combo-department {
  z-index: 201;
}

.m-close-dropdown {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 200;
}

.m-dropdown-body-container {
  padding: 2px 0;
}

.m-combo-box-item {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 0 16px 0 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  height: 32px;
  cursor: pointer;
}

.m-combo-box-item:hover {
  background-color: #ebedf0;
  color: #2ca01c;
}

.m-item-highlight {
  background-color: #2ca01c !important;
  color: #fff !important;
}

.m-dropdown-close {
  transform: rotate(0deg);
  transition: transform 0.15s linear;
}

.m-dropdown-open {
  transform: rotate(180deg);
  transition: transform 0.15s linear;
}

/* Combo box có table */
.m-combo-menu-header {
  background: #f4f5f8;
}

.m-menu-table {
  width: 100%;
  border-collapse: collapse;
}

.m-menu-header {
  color: #111;
  height: 32px;
}

.m-menu-header-th {
  padding: 0 10px;
  height: 32px;
}

.m-combo-menu-content {
  max-height: 160px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 2px 1px;
}

.m-menu-items-tr {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 32px;
  line-height: 32px;
  white-space: nowrap;
}

.m-menu-items-tr:hover {
  color: #35bf22;
  background-color: #ebedf0;
}

.m-items-highlight {
  font-weight: 700;
  color: #35bf22;
  background-color: #ebedf0;
}
