.m-menu {
  width: auto;
  background-color: #393a3d;
  color: #fff;
}

.m-menu a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.m-logo-container {
  height: 0;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-option-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background: url(../../assets/img/Sprites.64af8f61.svg) no-repeat -424px -86px;
}

.m-logo-icon {
  height: 32px;
}

.m-menu-item {
  height: calc(100vh - 62px);
  padding-top: 14px;
  overflow: auto;
}

.m-item-router {
  height: 42px;
  display: flex;
  align-items: center;
  padding-right: 14px;
  padding-left: 8px;
  border-left: 6px solid transparent;
  position: relative;
}

.m-item-router.active {
  border-left: 6px solid rgb(44, 160, 28);
}

.m-item-router.active::before,
.m-item-router:hover::before {
  content: "";
  background: rgb(212, 215, 220);
  opacity: 0.2;
  width: calc(100% + 6px);
  height: 42px;
  left: -6px;
  top: 0px;
  position: absolute;
}

.m-item-icon {
  margin-right: 8px;
}

.collapse {
  width: 52px;
}

.collapse .m-item-title {
  display: none;
}

.collapse .m-item-icon {
  margin-right: 0;
}

.collapse .m-menu-icon {
  position: absolute;
}
